*, *:before, *:after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:root {
  --opacity-0: 0;
  --opacity-100: 1;
  /*  */
  --body-bg: #eef0f1;
  --bg-secondary: #f9fafa;
  --shadow-1: rgba(8, 9, 10, 0.1);
  --color: #64707d;
  --c-secondary: #202428;
  --card-color-tertiary: #64707d;
  --btn-outline-color:rgb(249, 250, 250);
  --btn-text-decoration-color:rgb(249, 250, 250);
  --h-56: 56px;
  --hover-color: #08090a;
  --hover-outline: #99a3ad;
  --transition-props:  cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
  --border-color: #b5bdc4;
  --link-hover-c: #323ebe;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-heavy: 800;
  --base-20: #d2d6db;
  --base-60: #64707d;
  --base-70: #4d5760;
  --base-90: #202428;
  --base-100: #08090a;
  --tab-color: #363d44;
  --radius: 5px;
  --header-height: 56px;
  /*  */
  --su-1: 0.25rem;
  --su-2: 0.5rem;
  --su-3: 0.75rem;
  --su-4: 1rem;
  --su-5: 1.25rem;
  --su-6: 1.5rem;
  --su-7: 2rem;
  --su-8: 3rem;
  --su-9: 4rem;
  --fs-l: 1.125rem;
  --fs-s: 0.875rem;
  --fs-xs: 0.75rem;
  --fs-xl: 1.25rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --lh-tight: 1.25;
  --fs-base: 1rem;
  --content-rhythm: 1.125rem;
  --tab-bg-color: rgba(59, 73, 223, 0.1);
  --tab-bg-current: #3b49df;
  --tab-color-current: #08090a;
  --tab-color-hover: #3b49df;
  --accent-brand: #3b49df;
  --accent-brand-darker: #323ebe;
  /*  */
  --card-bg: #fff;
  --card-color: #08090a;
  --card-border: rgba(8, 9, 10, 0.1);
  --content-padding-y: 0.75rem;
  --content-padding-x: 0.75rem;
  --content-font-size: 1.125rem;
  --link-color: #202428;
  /*  */
  --layout-sidebar-left-display: block;
  --layout-sidebar-left-row-end: initial;
  --layout-sidebar-left-width: 100%;
  --layout-padding: 0.5rem;
  --z-elevate: 1;
  --z-sticky: 100;
  --body-color: #08090a;
  --body-color-inverted: #fff;
  --button-ghost-color: #363d44;
}

html {
  scroll-padding-top: 56px;
  text-size-adjust: 100%;
  font-size: 16px;
}

h1,h2,h3,p {
  margin: 0;
}
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}
small {
  font-size: 80%;
}
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

body {
  padding-top: 56px;
  min-height: calc(100vh - 56px);
  scroll-behavior: smooth;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border-color: var(--border-color);
}

#root {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
}
a {
  text-decoration: none;
}

.App {
  background-color: var(--body-bg);
}
.border-0 {
  border-width: 0;
}


/* position */
.pos-f {
  position: fixed;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.t0 {
  top: 0;
}

.r0 {
  right: 0;
}

.b0 {
  bottom: 0;
}

.l0 {
  left: 0;
}

/* z-index */
.z100 {
  z-index: 100;
}

/* display */
.flex {
  display: flex;
}
.bl {
  display: block;
}

.hv {
  visibility: hidden;
}

/* cursor */
.cur-pt, .cursor-pointer {
  cursor: pointer;
}

/* color */
.c-b {
  color: #000000;
}

.c-w {
  color: #ffffff;
}

.c-d {
  color: var(--hover-color);
}

.dark {
  color: #555555;
}

.form-bg {
  background-color: var(--bg-secondary);
}

.c-btn {
  color: #f9fafa;
}
.c-btn:hover {
  color: #f9fafa;
}

.sh-btn {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px;
}

.sh-focus:focus {
  box-shadow: 1px 1px 0 #3b49df;
  background-color: #ffffff;
  border-color: #3b49df;
  outline-color: transparent;
  transition: var(--transition-props);
}

.W {
  background-color: #FFFFFF;
}

/* dimension */
.fw {
  width: 100%;
}
.mx-w-420 {
  max-width: 420px;
}
.fh {
  height: 100%;
}
.fd {
  width: 100%;
  height: 100%;
}
.h-40 {
  height: 40px;
}

.h-56 {
  height: 56px;
}

.box-24 {
  width: 24px;
  height: 24px;
}

.box-32 {
  width: 32px;
  height: 32px;
}

.box-40 {
  width: 40px;
  height: 40px;
}


/* border */
.bord-0 {
  border: 0;
}
.bord {
  border: 1px solid #d9d9e0;
}
.bord-1 {
  border-width: 1px;
  border-style: solid;
}
.bord-2 {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  outline-color: transparent;
}

/* border-radius */
.b-r4 {
  border-radius: 4px;
}
.b-r5 {
  border-radius: 5px;
}

.b-r50pc {
  border-radius: 50%;
}

/* padding */
.pd0 {
  padding: 0;
}

.pd2 {
  padding: 2px;
}

.pd4 {
  padding: 4px;
}

.pd5 {
  padding: 5px;
}

/* .pd-0-8 {
  padding:  0 8px;
} */
.pd-7-8 {
  padding: 7px 8px;
}
.pd8 {
  padding: 8px;
}
.pd-8-16 {
  padding: 8px 16px;
}

.pd10 {
  padding: 10px;
}

.pd12 {
  padding: 12px;
}

.pd-0-20 {
  padding: 0 20px;
}

.pd-8-12 {
  padding: 8px 12px;
}
.pd16 {
  padding: 16px;
}

.pd20 {
  padding: 20px;
}

/* margin */
.mg0 {
  margin: 0;
}

.mg-h4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mg-la {
  margin-left: auto;
}
.mg-ra {
  margin-right: auto;
}

.mg-v0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mg-h8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mg-b5 {
  margin-bottom: 5px;
}

.mg-v10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mg-h16 {
  margin-left: 16px;
  margin-right: 16px;
}
.mg-h20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mg-b16 {
  margin-bottom: 16px;
}

.mg-r8 {
  margin-right: 8px;
}

.mg-l8 {
  margin-left: 8px;
}

.mg-t10 {
  margin-top: 10px;
}

.tx-c, .align-center {
  text-align: center;
}

.b5 {
  font-weight: 500;
}

.b6 {
  font-weight: 600;
}

/* font-size */
.f20 {
  font-size: 20px;
}

.f-16 {
  font-size: 16px;
}

.lg {
  font-size: large;
}

.md {
  font-size: 14px;
}

.sm {
  font-size: 10px;
}

/* line-height */
.lh-24 {
  line-height: 24px;
}

.ov-h {
  overflow: hidden;
}

.w-100p {
  width: 100%;
}

.title {
  font-size: 30px;
  line-height: 1.25em;
}

.grey {
  color: gray;
}

.fx-auto {
  flex: 1 1 auto;
}

.fx-a-center {
  align-items: center;
}

.fx-j-center {
  justify-content: center;
}

.fx-j-end {
  justify-content: flex-end;
}
.fx-j-sb {
  justify-content: space-between;
}

.navbar a {
  display: inline-flex;
  width: auto;
  margin: 0 0.25rem;
  text-align: center;

  padding: 0.5rem 0.5rem;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  /* color: var(--tab-color); */
  position: relative;
  border-radius: 5px;
  transition: all var(--transition-props);
  width: 100%;
  border: none;
  background: transparent;
}
.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: list-item;
  position: relative;
  color: #363d44;
  text-align: center;
  display: flex;
}
.navbar .active {
  color: var(--hover-color);
  font-weight: 500;
}
.navbar a:hover {
  background-color: var(--tab-bg-color);
  color: var(--accent-brand);
}
.nav-icon {
  color: #363d44;
  fill: #363d44;
}
.nav-icon:hover {
  color: var(--hover-color);
  fill: var(--hover-color);
}
.navbar .active::after {
  content: "";
  width: calc(100% - 16px);
  left: 8px;
  bottom: 0;
  height: 3px;
  background-color: var(--tab-bg-current);
  position: absolute;
  transition: all var(--transition-props);
}
.navbar .active:hover::after {
  width: 100%;
  left: 0;
  border-radius: 0 0 4px 4px;
}

.header select {
  border-color: var(--border-color);
  margin-left: 0.5rem;
  width: auto;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 0.5em;
  padding-right: 2rem;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  transition: all var(--transition-props);
  background-color: var(--bg-secondary);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==);
  background-position: calc(100% - 0.5rem) calc(50% - 1px);
  background-repeat: no-repeat;
}
.hdr {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.crayons-link--block:hover:not(.crayons-link--current) {
  background: rgba(8, 9, 10, 0.05);
}
.crayons-link--block .crayons-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.side-nav a {
  display: flex;
  padding: 8px;
  align-items: center;
}

.crayons-link--contentful {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid var(--body-bg);
}
.crayons-link--contentful .crayons-link__secondary {
  color: #64707d;
  font-size: 0.875rem;
  padding-top: 0.25rem;
}
.crayons-link--contentful:hover {
  background-color: #fff;
}
.crayons-card--secondary .crayons-link--branded {
  color: #3b49df;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}
.crayons-card--secondary .crayons-link {
  color: #202428;
}
.crayons-link:hover {
  color: var(--link-hover-c);
}
.crayons-card--secondary {
  background: var(--bg-secondary);
  color: var(--card-secondary-color);
  box-shadow: 0 0 0 1px var(--shadow-1);
}
.crayons-link--contentful:hover .crayons-link__secondary {
  color: var(--base-70);
}
.crayons-card__header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--body-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crayons-header__menu__dropdown {
  transform-style: preserve-3d;
  top: 56px;
  transform-origin: top right;
  transition: all 1s;
  transition-delay: 0.25s;
  transform: translateY(0.25rem) rotateX(-10deg);
  opacity: 0;
  visibility: hidden;
}
.crayons-header__menu.hovered-button .crayons-header__menu__dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0) rotateX(0deg);
}
.crayons-header__menu.hovered-button .nav-image {
  border-color: #eef0f1;
}
.crayons-dropdown {
  background: #ffffff;
  border: 2px solid #08090a;
  box-shadow: 4px 4px 0 #08090a;
  color: #08090a;
  border-radius: 5px;
  position: absolute;
  display: none;
  min-width: 250px;
  z-index: 400;
}
#user-profile-link-placeholder {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #d2d6db;
}

.crayons-link--block {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 5px;
  transition: background var(--transition-props),color var(--transition-props);
}
small {
  color: #7d8a97;
}
.last-link {
  padding-bottom: 0.25rem;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #d2d6db;
}
.inline-block {
  display: inline-block;
}
.p-0 {
  padding: 0;
}
.right-2 {
  right: 0.5rem;
}
.left-2 {
  left: 0.5rem;
}

/* story */
.story_body {
  padding: 0.75rem 0.75rem 0.5rem;
}



/*  */
.t\:bl {
  display: none;
}
.grid-3-l-r {
  --layout-gap: 0;
  --layout: 240px 2fr 1fr;
  font-size: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-gap: var(--layout-gap);
  grid-template-columns: var(--layout);
  padding: 1rem;
  /* --layout: 100%; */
  /* padding: 0; */
  grid-template-columns: var(--layout);
}

.crayons-layout--article {
  --layout-gap: 0;
  --layout: 100%;
  --layout-padding: 0;
  font-size: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-gap: var(--layout-gap);
  grid-template-columns: var(--layout);
  padding: var(--layout-padding);
}
#index-left {
  display: none;
}
#index-right {
  display: none;
}
.t\:pd {
  padding: 0;
}
.t\:hd {
  display: block;
}
.t\:fx {
  display: flex;
}
.header {
  padding: 0.5em 0.75em;
}
.article {
  margin: 0 0.75em 0.75em;
}









/* Stories */
.crayons-btn {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  /* border-radius: 5px; */
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--transition-props);
  border: 0 solid;
  overflow-wrap: normal;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  /* color: #363d44; */
  color: var(--color);
}
.crayons-story {
  background: #ffffff;
  font-size: 1rem;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
  margin: 0 0.75rem 0.75rem;
  position: relative;
  border-radius: 5px;
  --story-padding: 0.75rem 0.75rem 0.5rem;
  --title-font-size: 1.25rem;
  --card-color: #08090a;
  --title-font-size: 1.25rem;
  --card-color-secondary: var(--base-70);
}
.crayons-story__hidden-navigation-link {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.crayons-story__cover {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 42%;
  background-size: cover;
  background-position: center center;
  border-radius: 5px 5px 0 0;
}
.crayons-story__body {
  padding: var(--story-padding);
}
.crayons-story__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.crayons-story__meta {
  display: flex;
  align-items: center;
  line-height: var(--lh-tight);
  font-size: 0.875rem;
}
.crayons-story__author-pic {
  position: relative;
  margin-right: 0.5rem;
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.crayons-story__secondary {
  color: var(--card-color-secondary);
}
.crayons-story__secondary[href]:hover, .crayons-story__secondary [enabled]:hover {
  color: var(--card-color);
}
.crayons-avatar {
  display: inline-block;
  border-radius: 100%;
  position: relative;
  background-color: var(--card-color-tertiary);
  width: var(--su-6);
  height: var(--su-6);
}
.crayons-avatar::after {
  content: '';
  border: 1px solid var(--body-color);
  opacity: 0.15;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  pointer-events: none;
}
.mt-5 {
  margin-top: var(--su-5);
}
.crayons-link {
  color: var(--link-color);
}
.crayons-avatar--l {
  width: var(--su-7);
  height: var(--su-7);
}
.crayons-avatar__image {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
}
.fs-xs {
  font-size: var(--fs-xs);
}
.crayons-story__tertiary {
  color: var(--card-color-tertiary);
}
.crayons-story__tertiary[href]:hover {
  color: var(--card-color);
}
.crayons-story__title {
  color: var(--card-color);
  line-height: var(--lh-tight);
  font-size: var(--title-font-size);
  overflow-wrap: anywhere;
  word-break: break-word;
  margin-bottom: var(--su-1);
}
.crayons-story__title a:hover {
  color: #323ebe;
}
.crayons-tag {
  font-size: var(--fs-s);
  color: #64707d;
  line-height: 1.3;
  border-radius: 5px;
  padding: var(--su-1);
  display: inline-block;
}
.crayons-tag:hover {
  color: #08090a;
}
.crayons-story__tags {
  margin-bottom: var(--su-2);
  margin-left: calc(var(--su-1) * -1);
}
.crayons-tag__prefix {
  opacity: 0.4;
  font-weight: normal;
}
.crayons-story__details {
  display: flex;
  margin-left: calc(var(--su-2) * -1);
}
.crayons-story__details a {
  display: flex;
  align-items: center;
}
.crayons-story__details a:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border-color: transparent;
  box-shadow: none;
  color: #08090a;
  z-index: 1;
}
.crayons-btn--icon-left {
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
}
.crayons-btn--icon-left .crayons-icon {
  margin-right: 0.25rem;
}
.crayons-icon:not(.crayons-icon--default), .crayons-icon:not(.crayons-icon--default) * {
  fill: currentColor;
}
.mr-2 {
  margin-right: var(--su-2);
}
.crayons-story__tertiary {
  color: var(--card-color-tertiary);
}
.crayons-btn--s {
  border-radius: 5px;
  font-weight: normal;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  font-size: var(--fs-s);
}
.crayons-story__save {
  display: flex;
  align-items: center;
}
.save-btn {
  background-color: #d2d6db;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
}
.save-btn:hover {
  background-color: #b5bdc4;
  border-color: transparent;
  box-shadow: 0 2px 5px (0, 0, 0, 0.05);
  color: #08090a;
  z-index: 1;
}
.crayons-story__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-s);
  line-height: var(--lh-tight);
}
.crayons-subtitle-2 {
  font-size: var(--fs-l);
}
.crayons-title, .crayons-subtitle-1, .crayons-subtitle-2, .crayons-subtitle-3 {
  font-weight: var(--fw-bold);
  color: var(--base-90);
}
.p-2 {
  padding: var(--su-2);
}
.px-3 {
  padding-left: var(--su-3);
  padding-right: var(--su-3);
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.crayons-tabs {
  --border-width: 3px;
  --tab-vertical-padding: var(--su-2);
  --tab-horizontal-padding: var(--su-2);
  --font-size: var(--fs-base);
  display: flex;
}
.crayons-tabs__list {
  list-style: none;
  display: flex;
  width: 100%;
}
.crayons-tabs__list li {
  width: 100%;
}
.crayons-tabs__item {
  padding: var(--tab-vertical-padding) var(--tab-horizontal-padding);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size);
  font-family: var(--ff-sans-serif);
  line-height: var(--su-6);
  text-decoration: none;
  cursor: pointer;
  color: var(--tab-color);
  position: relative;
  border-radius: var(--radius);
  transition: all var(--transition-props);
  width: 100%;
  border: none;
  background: transparent;
}
.crayons-tabs__item--current {
  font-weight: var(--fw-medium);
  color: var(--tab-color-current);
}
.crayons-tabs__item::before {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--fw-medium);
}
.crayons-tabs__item::after {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-width);
  content: '';
  background: var(--tab-bg-current);
  border-radius: var(--radius);
  transition: all var(--transition-props);
}
.crayons-tabs__item--current::after {
  display: block;
}
.crayons-tabs__item:hover {
  background: var(--tab-bg-color);
  color: var(--tab-color-hover);
}
.crayons-tabs__item:hover:after {
  left: 0;
  right: 0;
  border-radius: 0 0 var(--radius) var(--radius);
}



.hd, .hidden {
  display: none;
}










a:hover {
  color: #0040ff;
}
.article {
  box-shadow: 0 0 0 1px var(--shadow-1);
}
.article.feed:active {
  border: 1px solid #0040ff;
  box-shadow: 1px 1px 2px #0040ff;
}

.article .top img {
  object-fit: cover;
}

.article .top .right {
  margin-left: 5px;
}

.cover {
  width: 100%;
  overflow: hidden;
}

.cover img {
  width: 100%;
  display: flex;
}

.top .left {
  border-radius: 50%;
  overflow: hidden;
}

.tag {
  padding: 1px 4px;
  border-radius: 4px;
  margin-right: 5px;
}

.icon {
  font-size: 16px;
}

.icon-btn {
  border-radius: 1000px;
  outline-color: transparent;
}
.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border-color: transparent;
  box-shadow: none;
  color: #08090a;
  z-index: 1;
}



/* hamburger */
.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.hamburger__content {
  background: #ffffff;
  max-width: 300px;
  width: 90%;
  z-index: 1000;
  position: relative;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.hamburger__content__header {
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0 0.25rem 0 1rem;
  justify-content: space-between;
  border-bottom: 1px solid rgba(8, 9, 10, 0.1);
  box-sizing: content-box;
}
.hamburger__overlay {
  background: #08090a;
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}
.break-word {
  word-break: break-word;
}
.fw-bold {
  font-weight: 700;
}
.lh-tight {
  line-height: 1.25;
}
.fs-l {
  font-size: 1.125em;
}
.flex-1 {
  flex: 1 1 0%;
}
.shrink-0 {
  flex-shrink: 0;
}
.sidebar-navigation-links .crayons-icon svg {
  height: 24px;
  width: 24px;
}
.crayons-btn--icon-rounded {
  border-radius: 1000px;
}
.crayons-btn--icon, .crayons-btn--icon-rounded {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.fs-base {
  font-size: var(--fs-base);
}
.mb-1 {
  margin-bottom: var(--su-1);
}
.mt-4 {
  margin-top: var(--su-4);
}
.mb-2 {
  margin-bottom: var(--su-2);
}
.mt-6 {
  margin-top: var(--su-6);
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.p-4 {
  padding: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}
.border-t-1 {
  border-top-width: 1px;
}
.border-solid {
  border-style: solid;
}
.justify-around {
  justify-content: space-around;
}
.border-base-10 {
  border-color: #eef0f1;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.crayons-link--secondary {
  color: #64707d;
}


/* Article */
body #main-content {
  scroll-margin-top: var(--header-height);
}
.grid {
  display: grid;
}
.gap-4 {
  grid-gap: var(--su-4);
}
.crayons-layout__content {
  min-width: 0;
}
article {
  padding: 0 0;
  position: relative;
}
.article-wrapper {
  min-width: 0;
}
.mb-4 {
  margin-bottom: var(--su-4);
}
.crayons-card {
  border-radius: var(--radius);
  background: var(--card-bg);
  color: var(--card-color);
  box-shadow: 0 0 0 1px var(--card-border);
  overflow-wrap: anywhere;
}
.crayons-article__header {
  overflow-wrap: anywhere;
  word-break: break-word;
}
.crayons-article__cover {
  position: relative;
  width: 100%;
  padding-top: 42%;
}
.crayons-article__cover__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius) var(--radius) 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.crayons-article__header__meta {
  padding: var(--content-padding-y) var(--content-padding-x) 0 var(--content-padding-x);
}
.fs-3xl {
  font-size: var(--fs-3xl);
}
.mr-1 {
  margin-right: var(--su-1);
}
.-mt-4 {
  margin-top: calc(var(--su-4) * -1);
}
.mr-2 {
  margin-right: var(--su-2);
}
.crayons-avatar--xl {
  width: var(--su-8);
  height: var(--su-8);
}

.crayons-article__subheader {
  font-size: var(--fs-base);
  color: var(--base-60);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.profile-preview-card__content.crayons-dropdown {
  color: var(--base-100);
  padding-top: 0;
  top: 100%;
  left: 0;
}
.profile-preview-card__trigger:hover+.profile-preview-card__content.crayons-dropdown {
  display: block;
  animation: hoverAppear 500ms;
}
.crayons-link {
  color: var(--link-color);
}
.fs-s {
  font-size: var(--fs-s);
}
.mr-4 {
  margin-right: var(--su-4);
}
.crayons-article__main {
  padding: var(--content-padding-y) var(--content-padding-x);
}
.text-styles {
  font-size: var(--content-font-size);
  font-family: var(--content-font-family);
  overflow-wrap: break-word;
}
.text-styles p {
  margin: 0 0 var(--content-rhythm) 0;
}
.text-styles hr {
  width: 25%;
  opacity: 0.1;
  border-radius: var(--radius);
  border: 1px solid var(--body-color);
  margin: calc(var(--content-rhythm) * 2) auto;
}
.text-styles a {
  text-decoration: underline;
  color: var(--accent-brand);
}
.text-styles a:hover {
  color: var(--accent-brand-darker);
}
.text-styles blockquote {
  border-left: 4px solid var(--base-20);
  padding: 0 0 0 var(--content-rhythm);
  margin: 0 0 var(--content-rhythm) 0;
}
.text-styles h1, .text-styles h2, .text-styles h3, .text-styles h4, .text-styles h5, .text-styles h6 {
  /* font-family: var(--ff-sans-serif); */
  margin: calc(var(--content-rhythm) / 2) 0;
  padding: 0;
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
}
.text-styles h2 {
  font-size: 1.5em;
}

/*  */
.crayons-layout__sidebar-left {
  display: var(--layout-sidebar-left-display);
  grid-row-end: var(--layout-sidebar-left-row-end);
  width: var(--layout-sidebar-left-width);
}
.crayons-article-actions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: var(--body-color-inverted);
  padding: var(--su-2);
  box-shadow: 0 -1px 5px rgba(0,0,0,0.2);
  z-index: var(--z-sticky);
}
.crayons-article-actions__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
}
.crayons-reaction {
  --reaction-color: var(--button-ghost-color);
  --reaction-border: inset 0 0 0 0 transparent;
  --reaction-bg: transparent;
  border: none;
  padding: 0;
  background: transparent;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.crayons-reaction__icon {
  padding: var(--su-2);
  box-shadow: var(--reaction-border);
  background: var(--reaction-bg);
  color: var(--reaction-color);
  border-radius: 50%;
  transition: all var(--transition-props);
  display: flex;
}
.crayons-reaction__count {
  color: var(--base-70);
  font-size: var(--fs-s);
  display: block;
  min-width: var(--su-7);
}
.dropbtn {
  display: flex;
  margin: 0 auto;
}
.bg-btn {
  background-color: #3b49df;
  color: #f9fafa;
}
.bg-btn:hover {
  background-color: var(--link-hover-c);
}
.color-base-70 {
  color: var(--base-70);
}
.whitespace-nowrap {
  white-space: nowrap;
}
.w-100 {
  width: 100%;
}
.user-metadata-details .key {
  font-size: var(--fs-xs);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--card-color-tertiary);
}
.opacity-50 {
  opacity: 0.5;
}
.user-metadata-details li+li {
  margin-top: var(--su-3);
}









.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.relative {
  position: relative;
}











@keyframes hoverAppear {
  0% {
    opacity: var(--opacity-0);
  }
  99% {
    opacity: var(--opacity-0);
  }

  100% {
    opacity: var(--opacity-100);
  }
}
@media screen and (min-width: 640px) {
  .s\:flex {
    display: flex;
  }
  .s\:hidden {
    display: none;
  }
  .crayons-tabs {
    --tab-vertical-padding: var(--su-2);
  }
  .crayons-tabs__item {
    width: auto;
    margin: 0 var(--su-1);
  }
  .crayons-subtitle-2 {
    font-size: var(--fs-xl);
  }
  .s\:right-4 {
    right: 1rem;
  }
  .s\:left-auto {
    left: auto;
  }
  .crayons-dropdown {
    max-width: 360px;
    width: max-content;
    padding: var(--su-4);
  }
  .crayons-header__menu {
    perspective: 1000px;
  }
  .crayons-link--block {
    padding: 0.5rem;
  }
  .crayons-story {
    --story-padding: var(--su-4);
    --title-font-size: 1.5rem;
  }
  .crayons-story--featured {
    --title-font-size: 1.875rem;
  }
  .s\:inline {
    display: inline;
  }
  .crayons-tabs__item::after {
    left: var(--tab-horizontal-padding);
    right: var(--tab-horizontal-padding);
  }
  :root {
    --content-padding-y: 1.25rem;
    --content-padding-x: 1.25rem;
  }
  .s\:mb-0 {
    margin-bottom: 0;
  }
  .s\:fw-heavy {
    font-weight: var(--fw-heavy);
  }
}

@media screen and (min-width: 768px) {/*768 - 1023*/
  :root {
    --layout-sidebar-left-width: 2fr;
    --layout-padding: var(--su-2);
    --layout: var(--layout-content-width);
    --content-padding-y: 2rem;
    --content-padding-x: 3rem;
  }
  .t\:bl {
    display: block;
  }
  .t\:hd {
    display: none;
  }
  .t\:fx {
    display: none;
  }
  .t\:pd {
    padding: 0 8px;
  }
  #index-left {
    display: var(--layout-sidebar-left-display);
    grid-row-end: var(--layout-sidebar-left-row-end);
    width: var(--layout-sidebar-left-width);
  }
  .m\:pb-2 {
    padding: 0;
    padding-bottom: 0.5rem;
  }
  .article {
    margin: 0 0 0.75rem;
  }
  .crayons-story {
    margin: 0 0 var(--su-3);
  }
  .crayons-story__indention {
    padding-left: calc(var(--su-7) + var(--su-2));
  }
  .crayons-story__top {
    margin-bottom: var(--su-2);
  }
  .crayons-story__title {
    margin-bottom: var(--su-2);
  }
  .grid-3-l-r {
    --layout: 2fr 5fr;
    --layout-sidebar-left-width: 2fr;
    --layout-sidebar-left-row-end: initial;
    --layout-sidebar-left-display: block;
    
    grid-template-columns: var(--layout);
    grid-gap: 0.5rem;
    padding: 0.5rem;
  }
  .crayons-layout--article {
    --layout-padding: 0.5rem;
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width);
    --layout-sidebar-left-row-end: span 2;
    --layout-sidebar-left-width: 2fr;
    --layout-sidebar-right-width: 5fr;
    --layout-content-width: 5fr;
    --layout-gap: var(--su-2);
    --layout-sidebar-left-width: var(--su-9);
    --layout: var(--layout-sidebar-left-width) 1fr;
    --layout-sidebar-left-row-end: span 2;
  }
  .m\:fs-4xl {
    font-size: var(--fs-4xl);
  }
  .s\:fw-heavy {
    font-weight: var(--fw-heavy);
  }
  .m\:block {
    display: block;
  }
  .m\:hidden {
    display: none;
  }
  .crayons-article-actions {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    padding-bottom: 0;
    background: var(--body-bg);
    display: grid;
    gap: var(--su-6);
    position: -webkit-sticky;
    position: sticky;
    box-shadow: none;
    justify-content: stretch;
    top: calc(var(--header-height) + var(--layout-padding) + 6vh);
    z-index: var(--z-elevate);
  }
  .crayons-article-actions__inner {
    display: grid;
    gap: var(--su-6);
    justify-content: stretch;
  }
  .crayons-reaction {
    flex-direction: column;
  }
  .m\:relative {
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --content-padding-x: var(--su-9);
    --layout-sidebar-left-width: 240px;
    --layout-content-width: 1fr;
    --layout-gap: var(--su-4);
    --layout-padding: var(--su-4);
    --content-rhythm: 1.25rem;
    --content-font-size: 1.25rem;
  }
  .t\:pd {
    padding: 0 16px;
  }
  .t\:hd {
    display: none;
  }
  .t\:bl {
    display: block;
  }
  .l\:fs-5xl {
    font-size: var(--fs-5xl);
  }
  #index-right {
    display: block;
  }
  .crayons-layout--article {
    --layout-padding: 1rem;
    --layout-gap: var(--su-4);
    --layout-sidebar-right-width: 3fr;
    --layout-sidebar-left-row-end: initial;
    --layout-content-width: 7fr;
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width) var(--layout-sidebar-right-width);
  }
  .grid-3-l-r {
    --layout-gap: var(--su-4);
    --layout-sidebar-right-width: 3fr;
    --layout-sidebar-left-row-end: initial;
    --layout-content-width: 7fr;
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width) var(--layout-sidebar-right-width);
  }
  .grid-3-l-r {
    --layout: 240px 2fr 1fr;
    grid-template-columns: var(--layout);
    grid-gap: var(--layout-gap);
    padding: 1rem;
    margin: 0 auto;
  }
  
}
