*, *:before, *:after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

:root {
  --body-bg: #eef0f1;
  --bg-secondary: #f9fafa;
  --shadow-1: rgba(8, 9, 10, 0.1);
  --c-secondary: #202428;
  --btn-outline-color:rgb(249, 250, 250);
  --btn-text-decoration-color:rgb(249, 250, 250);
  --h-56: 56px;
  --hover-color: #08090a;
  --hover-outline: #99a3ad;
  --transition-props:  cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
  --border-color: #b5bdc4;
  --link-hover-c: #323ebe;
}

html {
  scroll-padding-top: 56px;
  text-size-adjust: 100%;
  font-size: 16px;
}

h1,h2,h3 {
  margin: 0;
}

body {
  padding-top: 56px;
  min-height: calc(100vh - 56px);
  scroll-behavior: smooth;
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;
}

input {
  border-color: var(--border-color);
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

.App {
  background-color: var(--body-bg);
}
.grid-3-l-r {
  font-size: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 240px 2fr 1fr;
  padding: 1rem;
}

/* position */
.pos-f {
  position: fixed;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.t0 {
  top: 0;
}

.r0 {
  right: 0;
}

.b0 {
  bottom: 0;
}

.l0 {
  left: 0;
}

/* z-index */
.z100 {
  z-index: 100;
}

/* display */
.flex {
  display: flex;
}
.bl {
  display: block;
}
.hd {
  display: none;
}

.hv {
  visibility: hidden;
}

/* cursor */
.cur-pt {
  cursor: pointer;
}

/* color */
.c-b {
  color: #000000;
}

.c-w {
  color: #ffffff;
}

.c-d {
  color: var(--hover-color);
}

.dark {
  color: #555555;
}

.form-bg {
  background-color: var(--bg-secondary);
}

.c-btn {
  color: #f9fafa;
}
.c-btn:hover {
  color: #f9fafa;
}

.bg-btn {
  background-color: #3b49df;
}
.bg-btn:hover {
  background-color: var(--link-hover-c);
}

.sh-btn {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px;
}

.sh-focus:focus {
  box-shadow: 1px 1px 0 #3b49df;
  background-color: #ffffff;
  border-color: #3b49df;
  outline-color: transparent;
  transition: var(--transition-props);
}

.W {
  background-color: #FFFFFF;
}

/* dimension */
.fw {
  width: 100%;
}
.mx-w-420 {
  max-width: 420px;
}
.fh {
  height: 100%;
}
.fd {
  width: 100%;
  height: 100%;
}
.h-40 {
  height: 40px;
}

.h-56 {
  height: 56px;
}

.box-24 {
  width: 24px;
  height: 24px;
}

.box-32 {
  width: 32px;
  height: 32px;
}

.box-40 {
  width: 40px;
  height: 40px;
}


/* border */
.bord-0 {
  border: 0;
}
.bord {
  border: 1px solid #d9d9e0;
}
.bord-1 {
  border-width: 1px;
  border-style: solid;
}
.bord-2 {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  outline-color: transparent;
}
.nav-image:hover {
  border-color: #eef0f1;
}

/* border-radius */
.b-r4 {
  border-radius: 4px;
}
.b-r5 {
  border-radius: 5px;
}

.b-r50pc {
  border-radius: 50%;
}

/* padding */
.pd0 {
  padding: 0;
}

.pd2 {
  padding: 2px;
}

.pd4 {
  padding: 4px;
}

.pd5 {
  padding: 5px;
}

/* .pd-0-8 {
  padding:  0 8px;
} */
.pd-7-8 {
  padding: 7px 8px;
}
.pd8 {
  padding: 8px;
}
.pd-8-16 {
  padding: 8px 16px;
}

.pd10 {
  padding: 10px;
}

.pd12 {
  padding: 12px;
}

.pd-0-20 {
  padding: 0 20px;
}

.pd-8-12 {
  padding: 8px 12px;
}
.pd16 {
  padding: 16px;
}

.pd20 {
  padding: 20px;
}

/* margin */
.mg0 {
  margin: 0;
}

.mg-h4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mg-la {
  margin-left: auto;
}
.mg-ra {
  margin-right: auto;
}

.mg-v0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mg-h8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mg-b5 {
  margin-bottom: 5px;
}

.mg-v10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mg-h16 {
  margin-left: 16px;
  margin-right: 16px;
}
.mg-h20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mg-b16 {
  margin-bottom: 16px;
}

.mg-r8 {
  margin-right: 8px;
}

.mg-l8 {
  margin-left: 8px;
}

.mg-t10 {
  margin-top: 10px;
}

.tx-c {
  text-align: center;
}

.b5 {
  font-weight: 500;
}

.b6 {
  font-weight: 600;
}

/* font-size */
.f20 {
  font-size: 20px;
}

.f-16 {
  font-size: 16px;
}

.lg {
  font-size: large;
}

.md {
  font-size: 14px;
}

.sm {
  font-size: 10px;
}

/* line-height */
.lh-24 {
  line-height: 24px;
}

.ov-h {
  overflow: hidden;
}

.w-100p {
  width: 100%;
}

.title {
  font-size: 30px;
  line-height: 1.25em;
}

.grey {
  color: gray;
}

.fx-auto {
  flex: 1 1 auto;
}

.fx-a-center {
  align-items: center;
}

.fx-j-center {
  justify-content: center;
}

.fx-j-end {
  justify-content: flex-end;
}
.fx-j-sb {
  justify-content: space-between;
}

.navbar a {
  display: inline-flex;
  width: auto;
  margin: 0 0.25rem;
  text-align: center;

  padding: 0.5rem 0.5rem;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  /* color: var(--tab-color); */
  position: relative;
  border-radius: 5px;
  transition: all var(--transition-props);
  width: 100%;
  border: none;
  background: transparent;
}
.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: list-item;
  position: relative;
  color: #363d44;
  text-align: center;
  display: flex;
}
.navbar .active {
  color: var(--hover-color);
  font-weight: 500;
}
.navbar a:hover {
  background-color: rgba(59, 73, 223, 0.1);
  color: #3b49df;
}
.nav-icon {
  color: #363d44;
  fill: #363d44;
}
.nav-icon:hover {
  color: var(--hover-color);
  fill: var(--hover-color);
}
.navbar .active::after {
  content: "";
  width: calc(100% - 16px);
  left: 8px;
  bottom: 0;
  height: 3px;
  background-color: #3b49df;
  position: absolute;
  transition: all var(--transition-props);
}
.navbar .active:hover::after {
  width: 100%;
  left: 0;
  border-radius: 0 0 4px 4px;
}

.header select {
  border-color: var(--border-color);
  margin-left: 0.5rem;
  width: auto;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 0.5em;
  padding-right: 2rem;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  transition: all var(--transition-props);
  background-color: var(--bg-secondary);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==);
  background-position: calc(100% - 0.5rem) calc(50% - 1px);
  background-repeat: no-repeat;
}
.hdr {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.crayons-link--block {
  border-radius: 5px;
}
.crayons-link--block:hover:not(.crayons-link--current) {
  background: rgba(8, 9, 10, 0.05);
}
.crayons-link--block .crayons-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.side-nav a {
  display: flex;
  padding: 8px;
  align-items: center;
}

.crayons-link--contentful {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid var(--body-bg);
}
.crayons-link--contentful .crayons-link__secondary {
  color: #64707d;
  font-size: 0.875rem;
  padding-top: 0.25rem;
}
.crayons-link--contentful:hover {
  background-color: #fff;
}
.crayons-link:hover {
  color: var(--link-hover-c);
}
.crayons-card--secondary .crayons-link--branded {
  color: #3b49df;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}
.crayons-card--secondary .crayons-link {
  color: #202428;
}
.crayons-card--secondary {
  background: var(--bg-secondary);
  color: var(--card-secondary-color);
  box-shadow: 0 0 0 1px var(--shadow-1);
}
.crayons-link--contentful:hover .crayons-link__secondary {
  color: #4d5760;
}
.crayons-card__header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--body-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t\:bl {
  display: none;
}
.grid-3-l-r {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.5rem;
}
#index-left {
  display: none;
}
#index-right {
  display: none;
}
.t\:pd {
  padding: 0;
}
.t\:hd {
  display: block;
}
.t\:fx {
  display: flex;
}
.header {
  padding: 0.5em 0.75em;
}
.article {
  margin: 0 0.75em 0.75em;
}
@media screen and (max-width: 640px) {/*min-width: 540?*/
  .max-640 {
    display: block;
  }
  .max-640.flex {
    display: flex;
  }
  .min-640 {
    display: none;
  }
  .subtitle-2 {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 640px) {
  .max-640 {
    display: none;
  }
  .min-640 {
    display: block;
  }
  .min-640.flex {
    display: flex;
  }
  .subtitle-2 {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 768px) {/*768 - 1023*/
  .t\:bl {
    display: block;
  }
  .t\:hd {
    display: none;
  }
  .t\:fx {
    display: none;
  }
  .t\:pd {
    padding: 0 8px;
  }
  .grid-3-l-r {
    --layout-sidebar-left-width: 2fr;
    --layout-sidebar-left-row-end: initial;
    --layout-sidebar-left-display: block;

    grid-template-columns: 2fr 5fr;
    grid-gap: 0.5rem;
    padding: 0.5rem;
  }
  #index-left {
    display: var(--layout-sidebar-left-display);
    grid-row-end: var(--layout-sidebar-left-row-end);
    width: var(--layout-sidebar-left-width);
  }
  .m\:pb-2 {
    padding: 0;
    padding-bottom: 0.5rem;
  }
  .article {
    margin: 0 0 0.75rem;
  }
  /* 
  
  #index-right {
    display: none;
  }
   */
}

@media screen and (min-width: 1024px) {
  .t\:pd {
    padding: 0 16px;
  }
  .t\:hd {
    display: none;
  }
  .t\:bl {
    display: block;
  }
  #index-right {
    display: block;
  }
  .grid-3-l-r {
    grid-template-columns: 240px 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #0040ff;
}
.article {
  box-shadow: 0 0 0 1px var(--shadow-1);
}
.article.feed:active {
  border: 1px solid #0040ff;
  box-shadow: 1px 1px 2px #0040ff;
}

.article .top img {
  object-fit: cover;
}

.article .top .right {
  margin-left: 5px;
}

.cover {
  width: 100%;
  overflow: hidden;
}

.cover img {
  width: 100%;
  display: flex;
}

.top .left {
  border-radius: 50%;
  overflow: hidden;
}

.tag {
  padding: 1px 4px;
  border-radius: 4px;
  margin-right: 5px;
}

.icon {
  font-size: 16px;
}

.icon-btn {
  border-radius: 1000px;
}
.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border-color: transparent;
  box-shadow: none;
  color: #08090a;
  z-index: 1;
}

pre > * {
  border-radius: 4px;
}